@use '../1-base/variables'

@mixin div-center
    display: flex
    align-items: center
    justify-content: center

@mixin img-center
    background-size: cover
    background-position: center  

%section-title
    font-weight: map-get(variables.$font-weights, "bold")
          